{% extends 'base.html' %}
{% load bootstrap4 %}

{% block page %}
<div>
    <a href="{% url 'publication-create' %}">
        <button class="btn btn-primary"> Add publication</button>
    </a>
    <hr>
    <div class="row">
        <div class="col-lg-6">
        {% for pub in publications %}
                <div class="card" style="width:550px">
                    <div class="card-body">
                        
                            <h4 class="card-title">{{ pub.publisher }}</h4>
                        
                        <p class="card-text">created -20.0.2020</p>
                        {% if pub.description %}
                           <a href="{% url 'detail_publication' pub.pk %}"> <p class="card-text">{{ pub.description}} </p> </a>
                        {% endif %}
                    </div>
                    {% if pub.image %}
                        <a href="{% url 'detail_publication' pub.pk %}">
                           <img class="card-img-top" src="{{ pub.image.url}}" alt="Card image">
                        </a>
                    {% endif %}
                    <div class="card-body">
                       <h5>like :{{ pub.like.count }}</h5>
                       <h5>comment</h5>
                       <h5>viewed by {{ pub.views}} people </h5>
                    </div>
                </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

