{% extends 'base.html' %}
{% load bootstrap4 %}

{% block page%}
    <div  style="width: 600px;">
        <div class="col-lg-6">
            <h4>{{ publication.publisher }}</h4>
            <p>Published day - 20.10.2020</p>
            {% if publication.description %}
                <p class="card-text">{{ publication.description}} </p>
            {% endif %}
            {% if publication.image %}
                <a href="#">
                    <img class="card-img-top" src="{{ publication.image.url}}" alt="Card image">
                </a>
            {% endif %}
            <h4>
                likes :{{ publication.likes.count }} <br>
                viewed : {{publication.views}}
            </h4>
            <form action="{% url 'publication_like' publication.pk %}">
                {% csrf_token %}
                <button type="submit" ,name="publication_like",value={{publication.pk}} ,class="btn btn-primary btn-sm"> Like</button>
            </form>
            <br>
            <hr>
            <h2>Comments:</h2>
            {% for comment in publication.comment.all %}
                 <div class="card">
                    <div class="card-body">
                        <p><h4>{{ comment.user}}</h4> {{ comment.text }}</p>
                        {% if comment.user == request.user %}
                            <p>
                                <a href="{% url 'edit-comment' comment.pk %}"> Edit  </a>
                                <a href="{% url 'delete-comment' comment.pk%}"> Delete </a>
                            </p>
                        {% endif %}
                        <h5> likes: {{ comment.likes.count }}</h5>
                        <br>
                        <form action="{% url 'comment_like' comment.pk %}">
                            {% csrf_token %}
                            <button type="submit" ,name="comment_pk",value={{comment.pk}} ,class="btn btn-primary btn-sm"> Like</button>
                        </form>
                    </div>
                 </div>
            {% endfor %}
            <form method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button name="add_comment_btn" class="btn btn-lg btn-success ">
                    Add comment
                </button>
            </form>
            <br>
            {% if publication.publisher == request.user %}
                <a href="{% url 'edit-publication' publication.pk %}" class="btn btn-warning">
                     Edit publication
                </a>
                <br>
                <form method="POST">
                    {% csrf_token %}
                        <button name="delete_btn" class="btn  btn-danger">
                             Delete publication
                        </button>
                </form>
            {% endif %}
        </div>
    </div>

{% endblock %}
