{% extends 'base.html' %}
{% load bootstrap4 %}

{% block page %}
<div style="position:relative; left:100px;">
    {% for a in album %}
        <div class="row">
            <div class="list-group-item d-flex justify-content-between
                {% if album.id == album_pk %}
                list-group-item-info
                {% endif %}">
                <a href="{% url 'album' album.id% }">
                    {{album.name}}
                </a>

            </div>

        </div>
    {% endfor %}
    {% for ob in object_list%}
    <div class="row">
        <div class="card" style="width: 500px;">
            <a href="{% url 'detail_gallery' ob.pk %}">
                <img class="card-img-top" src="{{ob.image.url }}" >
            </a>
            <div class="crad-body">
                <h4 class="card-title ">{{ ob.publisher}}</h4>
                <p class="card-text">{{ ob.description}}</p>
                <br>
            </div>
        </div>
        <br>
    </div>
    <br>
    {% endfor %}
</div>
{% endblock %}