{% load bootstrap4 %}
{% load socialaccount %}




<!DOCTYPE html>
<html lang="en">
<head>
  <title>VK</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
      <h2>First time here?</h2>
      <h4>Sign up for VK</h4>
      <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}

       
        
        <button type="submit" class="btn btn-primary" name="registration" >Registration</button><br><br>
      </form>
      <button><a href="{% provider_login_url "google" %}">Google Login</a></button>
      <button><a href="{% provider_login_url "vk" %}">VK Login</a></button>
      
      
        
        
  </div>
      <br>
</body>
</html>