{% extends 'base.html' %}
{% load bootstrap4 %}

{% block page %}

<div class="nav-item">  
    
   
        {% if user == request.user %}
            <a type="button" href="{% url 'edit' user.profile.pk %}" class="btn btn-outline-primary" >Edit profile</a>
        {% endif %}
        <hr>    
        <img  class="photo" src="{{ request.user.profile.photo.url }}" width="50%" >
        <h1>{{ user.profile.name }}</h1>
        <h3>Birthday:{{ user.profile.bday }}</h3>
        <h3>Current city: {{ user.profile.city }}</h3>
        <h3>Relationship:{{ user.profile.relationship }}</h3> 
        <h3>Institution: {{ user.profile.institution }}</h3>  
        <h3>Friends: {{ user.profile.subscription.count }}</h3>  
        <h3>Description: {{ user.profile.description }}</h3>      
        <h3>Email: {{ user.email }}</h3>      
                 
        
       
       
        <br>
        
        
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
        </form>
    
</div>


{% endblock %}