{% extends 'base.html' %}
{% load bootstrap4 %}

{% block page %}

<div class="nav-item">  
    <a type="button" href="{% url 'edit' user.profile.pk %}" class="btn btn-outline-primary" >Edit profile</a>
    <hr>    
    
    
    <h1>{{ user.profile.name }}</h1>
    <h3>Birthday:{{ user.profile.bday }}</h3>
    <h3>Current city: {{ user.profile.city }}</h3>
    <h3>Relationship:{{ user.profile.relationship }}</h3> 
    <h3>Institution: {{ user.profile.institution }}</h3>  
   
    <button type="button" class="btn btn-outline-primary" >Show full information</button>
    <br>
    
    
    
</div>


{% endblock %}