{% extends 'base.html' %}
{% load bootstrap4 %}

{% block page %}

<div>
<h1>{{ chat.name }}</h1>
    
    <br>
    {% for message in chat.message.all %}
    <div>
        <i>{{ message.from_user }}</i>
        <br>
        <b>{{ message.date }}</b>
        <br>
        <h4>{{ message.text }}</h4>
        <br>
        <hr>
    </div>
    
    {% endfor %}
    <form action="{% url 'add-message' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="message">
        <input type="hidden" name="chat" value="{{ chat.id }}" readonly>
        <button>Send</button>
    </form>
    <span id="end"></span>
</div>
{% endblock %}