{% extends 'base.html' %}
{% load bootstrap4 %}

{% block page %}
<div>

    <a type="" href="{% url 'create-message'  %}" class="btn btn-outline-success" >Start Message</a>
</div>
<div>
    
    <div class="col-lg-4 col-md-3 col-sm-3">
        <nav class="col-sm-3 col-4" id="myScrollspy">
            <ul class="nav nav-pills flex-column">  
                    <li class="nav-item">
                        {{ request.user.username }}
                    </li>
                    <br><br>
                {% for chat in chats %}
                    <li class="nav-item">
                        <a class="nav-link" href="/chat/{{ chat.id }}#end">{{ chat.name }}</a>
                    </li>
                {% endfor %}
                    
            </ul>
          </nav>
    </div>
    
    
</div>
    
  


{% endblock %}