{% load bootstrap4 %}
{% load friendshiptags %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-``width, initial-scale=1.0">
  <title>VK</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.3/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
    body {
      position: relative;
    }
    ul.nav-pills {
      top: 20px;
      position: fixed;
    }
    div.col-8 div {
      height: 500px;
    }
  </style>
</head>
<body data-spy="scroll" data-target="#myScrollspy" data-offset="1">
  <nav class="navbar  bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="{% url 'publications' %}">VK</a>
    <div class="nav-item">
      <form  class="form-inline">
        <input class="form-control mr-sm-4" type="search"  aria-label="Search">
        <button  class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
    
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        {{ request.user }}
      </a>
      <div class="dropdown-menu">
        {% if user == request.user %}
          <a class="dropdown-item" href="{% url 'settings' user.pk %}">Settings</a>
        {% endif %}
          <a class="dropdown-item" href="{% url 'sign-out' %}">Log out</a>
      </div>
    </div>

    <br>
    <br>
    
    </div>
  </nav>
  <br>
  <br>
  <br>
  <br>
  <div class="row"  ><br>
    <div class="col-lg-2 col-md-1">
      <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'profile' request.user.profile.pk %}">My profile</a>
        </li>
      </ul>
      
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'publications' %}">News</a>
        </li>
      </ul>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" class="notification" href="{% url 'message' %}">

            <span>Messenger</span>
            <span class="badge">
              
                {{  chats.count }}
            </span>
          </a>
        </li>
      </ul>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'view_friends' request.user.username %}">Friends</a>
        </li>
      </ul>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Communities</a>
        </li>
      </ul>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Photos</a>
        </li>
      </ul>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Music</a>
        </li>
      </ul>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active"  class="notification" href="{% url 'friends_request_list' %}">
            <span>Notifications</span>
            <span class="badge">
                {{ count }}
            </span></a>
        </li>
      </ul>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'friendship-view-users'  %}">People</a>
        </li>
      </ul>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Map</a>
        </li>
      </ul>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'feedback_create' %}">Feedback</a>
        </li>
      </ul>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Coronavirus</a>
        </li>
      </ul>
      </div>
    {% block page %}
    
    {% endblock %}
    {% block content %}

    {% endblock %}
    </div>
  <div class="col-lg-8 col-md-10 container-fluid"><br>
    

  
  
</body>
</html>

