{% extends 'base.html' %}
{% load bootstrap4 %}
{% load friendshiptags %}
{% block page %}

<div>

    <div>{{ friendship_request.from_user.profile.name }} wants to be friends with {{ friendship_request.to_user }}</div>
    
    <form method="post" action="{% url 'friends_accept' friends_request.pk %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="accept" />
    </form>
    <br>
    <form method="post" action="{% url 'friends_reject' friends_request.pk %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="reject" />
    </form>
    <form method="post" action="{% url 'friends_cancel' friends_request.pk %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="cancel" />
    </form>
    </div>
</div>
{% endblock %}